window.env = {
  REACT_APP_API_URL: 'https://__HOST_IP__:5050',
  REACT_APP_KRATOS_PUBLIC_URL: 'https://__HOST_IP__:4433',
  REACT_APP_MAILSLURPER_URL: 'http://__HOST_IP__:4436',
  REACT_APP_CHATBOT_URL: 'http://__HOST_IP__:8081/chat',
  REACT_APP_LLM_GATEWAY_URL: '/api/llm',
  PUBLIC_URL: 'https://__HOST_IP__:8443',
  NODE_ENV: 'production',
  DEBUG: 'false'
};
